extends ../layout

block content
    div(class='horizCenter vertCenterContainer fullVert')
        div(class='vertCenter')
            div
                div(class='container')
                    div(class='horizCenter')
                        block artifact_content