.vertCenterContainer {
  display: table
}

.horizCenter {
  margin: auto;
}

.vertCenter {
  display: table-cell;
  vertical-align: middle;
}

.fullVert {
  height: 100%;
}

.group{
  display: inline-block
}

.fullWidth {
  width: 100%;
  clear: both;
}

.all {
  @extend .fullVert;
  @extend .fullWidth;
  margin: 0;
}

html, body {
  @extend .all
}

.center-text {
  text-align: center;
}