$primary-background: darken(white, 10%);
$text-color: lighten(black, 30%);

body {
  background-color: $primary-background;
  color: $text-color;
}

a {
  color: $text-color;
}

a:visited {
  color: $text-color; //Do not change for when link is visited
}