$natural-width: 800px;

.container {
  display: flex
}

.inlineContainer {
  display: inline-flex;
}

.vert {
  align-items: center;
}

.naturalWidth {
  max-width: $natural-width;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.vr {
  border-left: 1px $text-color solid;
  width: 1px;
  display: inline-flex;
  height: 50px;
  margin: 15px;
}