$primary-background: darken(white, 2%);
$text-color: lighten(black, 30%);

$form-input-bg: lighten($primary-background, 10%);
$form-input-border-color: darken($primary-background,20%);
$form-submit-bg: lighten(green, 50%);

$alert-bg: darken($primary-background, 20%);
$alert-border: darken($alert-bg, 10%);

$alert-error-bg: lighten(red, 40%);
$alert-info-bg: lighten(skyblue, 10%);

$tip-color: red;

body {
  background-color: $primary-background;
  color: $text-color;
}

a {
  color: $text-color;
}

a:visited {
  color: $text-color; //Do not change for when link is visited
}

#tipzone {
  color: $tip-color;
  font-size: 1em;
}