@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
}

hr {
  margin: 15px;
}

p {
  margin: 5px;
}

@import '__colors.scss';
@import '__utils.scss';
@import '__container.scss';
@import '__icon.scss';
@import '__align.scss';
@import '__img.scss';
@import '__title.scss';
@import '__form.scss';
@import '__alert.scss';