//
   Created by joe on 2/2/16.
hr
footer.container
    div.horizCenter.vertCenterContainer
        div.vertCenter
            h1
                a(href="/").brandlink="ibj.io"
        div.vr
        div.vertCenter
            include links.jade
