doctype html
html(class='all')
    head
        block title
            title='ibj.io'
        block css
            link(rel='stylesheet', href='/css/style.css')
        block script
        link(rel='icon' type='img/ico' href='/imgs/favicon.png')
    body
        block content
