doctype html
html(class='all')
    head
        block title
            title='ibj.io'
        block css
            link(rel='stylesheet', href='/css/style.css')
        block script
    body
        block content
