extends ../markdown

block title
    title='Ethical Adblocking - ibj.io'

block meta
    meta(name='description'
    content='Discussion on the ethical ramifications of using an ad-blocker on ad revenue supported websites')

block md
    include:marked ./ad.md
